
{% extends 'base.html' %}

{% block content %}

creation of products 

{% if error%}

{{ error }}

{% endif %}

<h1>Create!!!</h1>
<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data"> <!--if u want to upload images use enctype-->
{% csrf_token %}
Title: 
<br/>
<input type="text" name="title">
<br/>
URL: 
<br/>
<input type="text" name="url">
<br/>
<br/>
Image: 
<br/>
<input type="file" name="image">
<br/>
<br/>
Icon: 
<br/>
<input type="file" name="icon">
<br/>
<br/>
Body: 
<br/>
<input type="text" name="body">
<br/>
<br/>
<input class="btn btn-primary" type="submit" value="add product">
</form>

{% endblock %}